/* Artist Marquee Scroller */

/* experimentation */

.ArtistMarqueeWrapper {
  background-color: black;
  font-family: nimbus-sans-extended, sans-serif;
  font-weight: 900;
  font-style: normal;
  color: white;
  font-size: 25px;
  overflow: hidden;
  position: relative;
  height: 50px;

}

.ArtistMarqueeText1 {
  overflow: hidden;
  white-space: nowrap;
  animation-name: Marquee1;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
}

.ArtistMarqueeText2 {
  overflow: hidden;
  white-space: nowrap;
  animation-name: Marquee2;
  animation-delay: 10s;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: absolute;
}
@keyframes Marquee1 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%)
  }
}
@keyframes Marquee2 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%)
  }
}
