/* Menu*/
/* experimentation */

.TopMenu{
  display: flex;
  color: white;
  background-color: black;
  align-items: center;
  font-family: nimbus-sans-extended, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 25px;
  height: 50px;
}

.TopMenu a{
  color: white;
  font-family: nimbus-sans-extended, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  text-decoration: none;
}

.MenuLogo {
  flex-grow: 6;
}

.MenuTickets {
  flex-grow: 1
}
.MenuVIP {
  flex-grow: 1
}
.MenuConduct{
  flex-grow: 1
}
.MenuFAQ{
  flex-grow: 1
}

.TopMenu a:hover{
  font-size: 22px;
  transition: .25s;
  transition-timing-function: linear;
}



/*
Font Details
font-family: nimbus-sans-extended, sans-serif;
font-weight: 900;
font-style: normal;

*/
