/* Global */
body {
  margin: 0;
  background-color: #2400FF;
}

/* Background Video */
.BackgroundContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.BackgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

/* Social Media Sidebar */
.SocialMediaSidebar {
  position: fixed;
  top: 30%;
  left: 10px;
  z-index: 1;
}

.SMSBox {
  background-color: black;
  height: 50px;
  width: 50px;
  font-size: 25px;
  margin-bottom: 10px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  color: white;
}

.SMSBox:hover {
  animation: cool 0.8s linear infinite;
}

@keyframes cool {
  0% {
    color: #2400FF;
  }

  50% {
    color: #FF0078;
  }

  100% {
    color: #2400FF;
  }
}

/**** Navigation ****/

/* Desktop */
.nav {
  position: fixed;
  top: 0;
  display: flex;
  background-color: black;
  font-family: nimbus-sans-extended, sans-serif;
  height: 50px;
  width: 100%;
  z-index: 1;
}

.navLogo {
  color: white;
  flex-grow: 6;
  font-style: normal;
  font-weight: 900;
  font-size: 1.5em;
  padding-left: 50px;
  line-height: 50px;
}

.navItem {
  flex-grow: 1;
}

.navItem a:hover {
  animation: cool 1s linear infinite;
  background-position: 0 100%;
  background-size: auto 4px;
  background-repeat: repeat-x;
  text-decoration: none;
}

/* Mobile */

.nav a {
  color: white;
  font-family: nimbus-sans-extended, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}
.HamburgerIcon{
  color: white;
  font-family: nimbus-sans-extended, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  padding: 0px 20px
}
.navMobSocial {
  color: white;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  flex-grow: 1;
}

.MobNavSocial {
  color: white;
  font-size: 1.5em;
}
.MobNav {
  width: 100%;
  height: 100%;
  background-color: rgba(36, 0, 255, 0.76);
  position: fixed;
  left: -100%;
  top: 0;
  transition: 0.8s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

}

.MobNav-Open{
  left: 0%;
  z-index: 1;
}

.MobNavItem a{
  font-family: nimbus-sans-extended, sans-serif;
  font-weight: 900;
  color: white;
  text-decoration: none;
  text-align: center;


}

/**** Landing Page ****/
.LandingPage {
  position: relative;
}

.HeroImage {
  width: 720px;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 0;
}

.HeroImage span {
  font-family: nimbus-sans-extended, sans-serif;
  font-weight: 900;
  font-size: 10em;
  color: white;
}

.squiggle {
  animation: shift 0.5s linear infinite;
}

@keyframes shift {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-20px);
  }
}

/**** Lineup screen ****/
.Lineup {
  font-family: nimbus-sans-extended, sans-serif;
  font-weight: 900;
  font-style: normal;
  color: white;
  position: relative;
}

.LineupContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.LineupRow {
  display: flex;
}

.HeadLine {
  font-size: 4em;
  line-height: 100px;
  margin-right: 30px;
}

.HeadLine:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .5s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='white' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 20px;
  background-repeat: repeat-x;
  text-decoration: none;
}

.MajorAct {
  font-size: 3em;
  line-height: 75px;
  margin-right: 30px;
}

.MajorAct:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .5s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='white' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 12px;
  background-repeat: repeat-x;
  text-decoration: none;
}

.SupportAct {
  font-size: 1.4em;
  line-height: 50px;
  margin-right: 10px;
}

.SupportAct:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .4s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='white' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 8px;
  background-repeat: repeat-x;
  text-decoration: none;
}

/* Tickets Screen */
.Tickets {
  position: relative;
}

.TicketRow {
  display: flex;
  width: 1180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.TicketCol {
  width: 440px;
  padding: 25px;
  margin: 50px;
}

.TicketCol img {
  width: 100%;
}

.Button {
  background-color: black;
  font-family: nimbus-sans-extended, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 2em;
  color: white;
  text-align: center;
  padding: 25px;

}

.Normie:hover {
  background-color: white;
  color: black;
}

.VIP:hover {
  animation: YeahBaby 0.1s linear infinite;
}

@keyframes YeahBaby {
  0% {
    background-color: #2400FF;
    color: white
  }

  50% {
    background-color: #FF0078;
    color: white
  }

  100% {
    background-color: #2400FF;
    color: white
  }
}

.Footer {
  background-color: Black;
  width: 100%;
  color: white;
  font-family: nimbus-sans-extended, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  line-height: 50px;
  text-align: right;
  position: absolute;
  bottom: 0;
}

/*****************  MEDIA QUERIES *******************/

/**** Desktop ****/

@media screen and (min-width: 1025px) {
  .HamburgerIcon {
    display: none;
  }
  .navMobSocial {
    display: none;
  }
}

/**** Large Tablet (iPad Pro/Surface) ****/

/* @media screen and (max-width: 1024px) {

  .MobNavItem a{
    font-family: nimbus-sans-extended, sans-serif;
    font-weight: 900;
    font-size: 48px;
    color: white;
    margin-top: 50px;

  .TicketRow {
    width: 880px;
  }

  .TicketCol {
    width: 300px;
    padding: 25px;
    margin: 50px;
  }
  .Button {
    font-size: 1em;
    color: white;
    text-align: center;
    padding: 25px;

  }
  .SocialMediaSidebar {
    display: none;
  }

  .navItem {
    display: none;
  }

  .HeroImage {
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .HeroImage span {
    font-family: nimbus-sans-extended, sans-serif;
    font-weight: 900;
    font-size: 8em;
    color: white;
  }
} */
/**** Tablet ****/

@media screen and (max-width: 768px) {
  .TicketRow {
    display: block;
  }

  .TicketCol {
    width: 40%;
    padding: 0px;
    margin-left: 30%;

  }
  .Button {
    font-size: 1em;
    color: white;
    text-align: center;
    padding: 25px;
    margin: 0px;
}

  .SocialMediaSidebar {
    display: none;
  }

  .navItem {
    display: none;
  }

  .HeroImage {
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .HeroImage span {
    font-family: nimbus-sans-extended, sans-serif;
    font-weight: 900;
    font-size: 6.5em;
    color: white;
  }
  .LineupRow {
    display: block;
    padding: 5px;
  }
  .HeadLine {
    font-size: 3em;
    line-height: 1.4em;
    margin-right: 10px;
  }
  .MajorAct {
    font-size: 2.3em;
    line-height: 1.2em;
    margin-right: 10px;
  }
  .SupportAct {
    font-size: 1em;
    line-height: 1.5em;
    margin-right: 8px;
  }
  .MobNavRow{
    display: none;
  }

}
/**** Large Phone****/
  @media screen and (max-width: 414px) {
    .TicketRow {
      display: block;
    }
    .navMobSocial {
      display: none;
    }

    .TicketCol {
      width: 27%;
      padding: 0px;
      margin-top: 0px;
      margin-bottom: 10px;
      margin-left: 36.5%;

    }
    .Button {
      font-size: 1em;
      color: white;
      text-align: center;
      padding: 25px;
      margin: 0px;
  }
    .HeroImage {
      width: 370px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }

    .HeroImage span {
      font-family: nimbus-sans-extended, sans-serif;
      font-weight: 900;
      font-size: 4em;
      color: white;
    }
    .LineupRow {
      display: block;
    }

    .HeadLine {
      font-size: 3em;
      line-height: 1.4em;
      margin-right: 0px;
    }
    .MajorAct {
      font-size: 2em;
      line-height: 1.2em;
      margin-right: 0px;
    }
    .SupportAct {
      font-size: 1em;
      line-height: 1.2em;
      margin-right: 0px;
    }

    .MobNavRow{
      display: flex;
    }

  }

  /**** Large Phone (iPhone pro 11+/Pixel XL/Galaxy S10+)****/
    @media screen and (max-width: 414px) {
      .TicketRow {
        display: block;
      }
      .navMobSocial {
        display: none;
      }

      .TicketCol {
        width: 27%;
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 10px;
        margin-left: 36.5%;

      }
      .Button {
        font-size: 1em;
        color: white;
        text-align: center;
        padding: 25px;
        margin: 0px;
    }
      .HeroImage {
        width: 370px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }

      .HeroImage span {
        font-family: nimbus-sans-extended, sans-serif;
        font-weight: 900;
        font-size: 4em;
        color: white;
      }
      .LineupRow {
        display: block;
      }

      .HeadLine {
        font-size: 3em;
        line-height: 1.4em;
        margin-right: 0px;
      }
      .MajorAct {
        font-size: 2em;
        line-height: 1.2em;
        margin-right: 0px;
      }
      .SupportAct {
        font-size: 1em;
        line-height: 1.2em;
        margin-right: 0px;
      }

      .MobNavRow{
        display: flex;
      }

    }

    /**** Small Phone(iPhone SE)****/
      @media screen and (max-width: 320px) {

        /* Nav */
        .navLogo {
          font-size: 1.25em;
        }

        .MobNavItem a{
          font-size: 1.1em;
          padding: 20px 0px;
        }

        .MobNavSocial {
          padding: 10px;
        }

        /* Landing Page */
        .HeroImage {
          width: 300px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
        }

        .HeroImage span {
          font-family: nimbus-sans-extended, sans-serif;
          font-weight: 900;
          font-size: 3.30em;
          color: white;
        }

        /* Lineup */

        .HeadLine {
          font-size: 2em;
          line-height: 1.4em;
        }
        .MajorAct {
          font-size: 1.2em;
          line-height: 1.2em;
        }
        .SupportAct {
          font-size: .8em;
          line-height: 1.2em;
        }

        .TicketRow {
          display: block;
          justify-content: center;
          align-items: center;
          margin-left: 60px;
        }

        /* Tickets */
        .TicketCol {
          width: 200px;
          padding: 0px;
          margin-top: 0px;
          margin-bottom: 10px;
          left:160px;

        }

        .Button {
          font-size: .75em;
          color: white;
          text-align: center;
          padding: 10px;
          margin: 0px;
}
